<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="info"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-right">
      สาเหตุของ<br />โรคอุจจาระร่วงเฉียบพลัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <br />
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-text>1</ion-text>
      </ion-col>
      <ion-col class="ion-text-left">
        <ion-text>อาหารเป็นพิษ จะพบอาการปวดท้อง อาเจียน ถ่ายเป็นน้ำ</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>2</ion-text>
      </ion-col>
      <ion-col class="ion-text-left">
        <ion-text
          >ติดเชื้อแบคทีเรีย เช่น <I>Vibrio Cholerae</I> (เชื้ออหิวาตกโรค)
          ผู้ป่วยจะพบอาการท้องร่วงรุนแรง อุจจาระไหลพุ่ง ลักษณะเหมือนน้ำซาวข้าว
          และมักพบอาการขาดน้ำรุนแรง</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>3</ion-text>
      </ion-col>
      <ion-col class="ion-text-left">
        <ion-text
          >เกิดจากการที่มีสุขาภิบาลไม่ดีและขาดสุขนิสัยที่ดี
          จะพบอาการอุจจาระเหลวและมีเนื้ออุจจาระปนปวดเบ่ง ไม่มีไข้หรือมีไข้ต่ำๆ
          อุจจาระเป็นมูกมีกลิ่นเหม็นเหมือนหัวกุ้งเน่า</ion-text
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
