ion-toolbar {
  --min-height: 100px;
  --color: white;
  --background: url("../../../assets/bg/bg.jpg") no-repeat center center / cover;
}
ion-content {
  --background: url("../../../assets/bg/bg4.png") no-repeat center center /
    cover;
}
ion-title {
  font-family: "Mitr", sans-serif;
  font-size: 98%;
}
.footer {
  position: fixed;
  text-align: right;
  right: 5%;
  bottom: 0px;
  width: 100%;
  font-size: 1.8rem;
  font-family: "Lilita One", cursive;
  font-weight: 900;
  text-shadow: #fc0 1px 0 30px;
  // color: coral;
  background-image: url("../../../assets/bg/bg.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
