<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="assess-bb"></ion-back-button>
    </ion-buttons>
    <ion-title>ประเมินอาการอุจจาระร่วง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text style="font-weight: bold; font-size: 3.5vh;">
          อาการผู้ป่วย
        </ion-text>
      </ion-col>
    </ion-row>
    <br />
    <ion-row>
      <ion-col>
        <ion-button (click)="clickBlood()" shape="round"
          >ถ่ายมีเป็นมูกหรือมีเลือดปน</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="clickWatery()" shape="round"
          >อุจจาระเหลวเป็นน้ำ</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
