<ion-header>
  <ion-toolbar>
    <ion-title>ผู้ดูแลระบบ</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="openAssess()" class="ion-text-center">
          <br />
          <ion-img src="assets/icon/answer.png"></ion-img>
          <!-- <ion-text>รายการ<br />การประเมิน</ion-text> -->
          <ion-card-content>
            <ion-text>รายการ<br />การประเมิน</ion-text>
            <!-- <div>รายการ<br />การประเมิน</div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="openlink()" class="ion-text-center">
          <br />
          <ion-img src="assets/icon/comment.png"></ion-img>
          <!-- <ion-text>ข้อเสนอแนะ<br />และความพึงพอใจ</ion-text> -->
          <ion-card-content>
            <ion-text>ข้อเสนอแนะ<br />และความพึงพอใจ</ion-text>
            <!-- <div>ข้อเสนอแนะ<br /> และความพึงพอใจ</div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
