<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>คณะเภสัชศาสตร์ มหาวิทยาลัยอุบลราชธานี</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-text><U>ที่อยู่</U> :</ion-text>
      </ion-col>
      <ion-col>
        <ion-text
          >เลขที่ 85 ถ.สถลมาร์ค ต.เมืองศรีไค อ.วารินชำราบ จ.อุบลราชธานี
          34190</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-text><U>เว็บไซต์</U> :</ion-text>
      </ion-col>
      <ion-col>
        <a href="http://www.phar.ubu.ac.th"
          ><ion-text>http://www.phar.ubu.ac.th</ion-text></a
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-text><U>ผู้จัดทำ</U> :</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          นายอภิมุข ปิตรัมย์
          <br />
          นางสาวอัจฉราพรรณ พรมตา
          <br />
          นักศึกษาเภสัชศาสตร์ชั้นปีที่ 5
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><U>อาจารย์ที่ปรึกษาโครงงาน</U> :</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-text></ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          อาจารย์ประสิทธิชัย พูลผล
          <br />
          ผศ.อุไรวรรณ อกนิตย์
          <br />
          รศ.ดร.ธีราพร สุภาพันธ์
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="display:inline-flex;">
    <ion-img src="assets/icon/logo.png"></ion-img>
    <div class="footer">RDUBU</div>
  </div>
</ion-content>
