<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="assess-a"></ion-back-button>
    </ion-buttons>
    <ion-title>ประเมินอาการอุจจาระร่วง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text color="dark" style="font-weight: bold; font-size: 1.5rem;"
              ><U>แนวทางการรักษา</U></ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="dark"
              >"มีอาการอุจจาระร่วงเฉียบพลันร่วมกับมีอาการอาเจียนเด่น"</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text color="dark" style="font-weight: bold; font-size: 1.5rem;"
              ><U>ผลการประเมิน</U></ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-text color="light"><ion-icon name="send"></ion-icon></ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="light">ไม่จำเป็นต้องใช้ยา Antibiotics</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-text color="dark"><ion-icon name="send"></ion-icon></ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="dark"
              >รักษาตามอาการ เช่น การใช้ยา Domperidone, Loperamide
              เป็นต้น</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-text color="dark"><ion-icon name="send"></ion-icon></ion-text>
          </ion-col>
          <ion-col class="ion-text-left">
            <ion-text color="dark"
              >ป้องกันการรักษาภาวะขาดน้ำและเกลือแร่ด้วย ORS</ion-text
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid class="ion-text-right">
    <ion-row>
      <ion-col>
        <ion-button (click)="clickHome()" shape="round"
          >กลับสู่หน้าหลัก</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
