ion-toolbar {
  --min-height: 12vh;
  --color: white;
  --background: url("../../../assets/bg/bg.jpg") no-repeat center center / cover;
}
ion-title {
  font-family: "Mitr", sans-serif;
  font-size: 3vh;
}
ion-content {
  --background: url("../../../assets/bg/bg4.png") no-repeat center center /
    cover;
}
ion-text{
  --color: black;
  font-size: 3vh;
}
ion-button {
  --background: #f8ce68;
  --padding-top: 2.5vh;
  --padding-bottom: 2.5vh;
  margin: 2%;
  width: 50%;
  font-size: 3vh;
}
ion-card {
  --background: coral;
  max-height: auto;
  min-height: 50%;
  border-radius: 30px/90px;
}
ion-img {
  width: 20%;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 2%;
  position: relative;
}
.footer {
  position: fixed;
  text-align: right;
  bottom: 0px;
  right: 5%;
  width: 100%;
  font-size: 4.5vh;
  font-family: "Lilita One", cursive;
  font-weight: 900;
  text-shadow: #fc0 1px 0 30px;
  background-image: url("../../../assets/bg/bg.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
