<ion-header>
  <ion-toolbar>
    <ion-title>ข้อตกลงในการใช้งาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>ข้อตกลงในการใช้งาน Application</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="0.5">
            <ion-text>&#8226;</ion-text>
          </ion-col>
          <ion-col>
            <ion-text
              >ผู้ที่เข้ามาใช้บริการจะต้องยอมรับและปฏิบัติตามข้อตกลงในการใช้งาน
              application</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="0.5">
            <ion-text>&#8226;</ion-text>
          </ion-col>
          <ion-col>
            <ion-text
              >ผู้อ่านควรใช้วิจารณญาณในการใช้งาน application
              และปรึกษาแพทย์หรือเภสัชก่อนการใช้ยา</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="0.5">
            <ion-text>&#8226;</ion-text>
          </ion-col>
          <ion-col>
            <ion-text
              >ข้อมูล เนื้อหา รูปภาพ และองค์ประกอบต่างๆที่มีอยู่ใน application
              ถูกเขียนขึ้นตามเอกสารอ้างอิง ที่ระบุในช่วงเวลาที่เขียนเท่านั้น
              ผู้ใช้งานต้องยอมรับว่าข้อมูลที่เกิดขึ้นภายหลังหรือข้อมูลในฐานข้อมูลที่แตกต่างกัน
              อาจทำให้เกิดข้อมูลหรือคำแนะนำที่ต่างออกไปจากที่มีการนำเสนอใน
              application</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="0.5">
            <ion-text>&#8226;</ion-text>
          </ion-col>
          <ion-col>
            <ion-text
              >ข้อมูล เนื้อหา รูปภาพ และองค์ประกอบต่างๆที่ปรากฏใน application
              นี้เป็นแหล่งให้ความรู้ คำแนะนำ
              การใช้ยาปฏิชีวนะอย่างสมเหตุสมผลให้กับบุคลากรทางการแพทย์และประชาชนทั่วไปเท่านั้น
              หากมีปัญหาโรคอื่นนอกเนื่องจากนี้โปรดปรึกษาแพทย์ผู้เกี่ยวข้องโดยตรง
              และหากมีปัญหาเรื่องยาให้ปรึกษาเภสัชกรหรือบุคลากรทางการแพทย์ที่เกี่ยวข้อง</ion-text
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="0.5">
            <ion-text>&#8226;</ion-text>
          </ion-col>
          <ion-col>
            <ion-text
              >ข้อมูล เนื้อหา รูปภาพ และองค์ประกอบต่างๆที่ปรากฏใน application
              นี้เป็นแหล่งให้ความรู้ คำแนะนำ
              การใช้ยาปฏิชีวนะอย่างสมเหตุสมผลให้กับบุคลากรทางการแพทย์และประชาชนทั่วไปเท่านั้น
              หากมีปัญหาโรคอื่นนอกเนื่องจากนี้โปรดปรึกษาแพทย์ผู้เกี่ยวข้องโดยตรง
              และหากมีปัญหาเรื่องยาให้ปรึกษาเภสัชกรหรือบุคลากรทางการแพทย์ที่เกี่ยวข้อง</ion-text
            >
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- - ผู้ที่เข้ามาใช้บริการจะต้องยอมรับและปฏิบัติตามข้อตกลงในการใช้งาน
      application
      <br />
      <br />
      - ผู้อ่านควรใช้วิจารณญาณในการใช้งาน application
      และปรึกษาแพทย์หรือเภสัชก่อนการใช้ยา
      <br />
      <br />
      - ข้อมูล เนื้อหา รูปภาพ และองค์ประกอบต่างๆที่มีอยู่ใน application
      ถูกเขียนขึ้นตามเอกสารอ้างอิง ที่ระบุในช่วงเวลาที่เขียนเท่านั้น
      ผู้ใช้งานต้องยอมรับว่าข้อมูลที่เกิดขึ้นภายหลังหรือข้อมูลในฐานข้อมูลที่แตกต่างกัน
      อาจทำให้เกิดข้อมูลหรือคำแนะนำที่ต่างออกไปจากที่มีการนำเสนอใน application
      <br />
      <br />
      - ข้อมูล เนื้อหา รูปภาพ และองค์ประกอบต่างๆที่ปรากฏใน application
      นี้เป็นแหล่งให้ความรู้ คำแนะนำ
      การใช้ยาปฏิชีวนะอย่างสมเหตุสมผลให้กับบุคลากรทางการแพทย์และประชาชนทั่วไปเท่านั้น
      หากมีปัญหาโรคอื่นนอกเนื่องจากนี้โปรดปรึกษาแพทย์ผู้เกี่ยวข้องโดยตรง
      และหากมีปัญหาเรื่องยาให้ปรึกษาเภสัชกรหรือบุคลากรทางการแพทย์ที่เกี่ยวข้อง -->
      <br />
      <ion-checkbox [(ngModel)]="checked"></ion-checkbox>
      <ion-label class="ion-text-wrap"
        >&nbsp;&nbsp;&nbsp;อ่านข้อตกลงการใช้งานแล้ว</ion-label
      >
      <br /><br />
      <ion-button expand="block" [disabled]="!checked" (click)="clickNext()"
        >ถัดไป</ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row> </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
