ion-toolbar {
  --min-height: 12vh;
  --color: white;
  --background: url("../../../assets/bg/bg.jpg") no-repeat center center / cover;
}
ion-title {
  font-family: "Mitr", sans-serif;
  font-size: 2.8vh;
  text-align: right;
}
ion-content {
  --background: url("../../../assets/bg/bg4.png") no-repeat center center /
    cover;
    // font-size: 100%
}
ion-img {
  // width: 45%;
  width: 20vw;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 2%;
  position: relative;
}
ion-card {
  --background: white;
  box-shadow: 0px 0px 10px pink;
  border: 2px solid pink;
  max-height: 100%;
  height: 90%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 15%;
  overflow: hidden;
}
ion-card:hover {
  background-color: #f8ce68;
}
ion-card-content {
  font-weight: bold;
  font-family: "Mitr", sans-serif;
  font-size: 2.4vh;
}
.footer {
  position: fixed;
  text-align: right;
  bottom: 0px;
  right: 5%;
  width: 100%;
  font-size: 4.5vh;
  font-family: "Lilita One", cursive;
  font-weight: 900;
  text-shadow: #fc0 1px 0 30px;
  background-image: url("../../../assets/bg/bg.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
