<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="info"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-right"
      >วิธีป้องกัน<br />โรคอุจจาระร่วงด้วยตัวเอง</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <br />
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-text>1</ion-text>
      </ion-col>
      <ion-col>
        <ion-text
          >ล้างมือให้สะอาดด้วยสบู่และน้ำสะอาดทุกครั้งก่อนปรุงหรือรับประทานอาหารและภายหลังถ่ายอุจจาระ</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>2</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>เลือกรับประทานอาหารที่สะอาดสุกใหม่ๆ</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>3</ion-text>
      </ion-col>
      <ion-col>
        <ion-text>ไม่ควรรับประทานอาหารที่สุกๆดิบๆ</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>4</ion-text>
      </ion-col>
      <ion-col>
        <ion-text
          >หากจะเก็บอาหารที่เหลือจากการรับประทานหรืออาหารสำเร็จรูปที่ซื้อไว้ในตู้เย็น
          และอุ่นให้เดือดทั่วถึงทุกครั้งก่อนรับประทาน</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-text>5</ion-text>
      </ion-col>
      <ion-col>
        <ion-text
          >ผักหรือผลไม้ ก่อนรับประทานให้ล้างด้วยน้ำสะอาดหลายๆ ครั้ง</ion-text
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
