ion-toolbar {
  --min-height: 100px;
  --color: white;
  --background: url("../../../assets/bg/bg.jpg") no-repeat center center / cover;
}
ion-content {
  --background: url("../../../assets/bg/bg4.png") no-repeat center center /
    cover;
}
ion-title {
  font-family: "Mitr", sans-serif;
  font-size: 98%;
}
ion-button {
  width: 50%;
  // height: 4.5vh;
}
ion-img {
  height: 20px;
  width: 20px;
  margin: auto;
  display: block !important;
}
.footer {
  position: fixed;
  text-align: right;
  bottom: 0px;
  right: 5%;
  width: 100%;
  font-size: 1.8rem;
  font-family: "Lilita One", cursive;
  font-weight: 900;
  text-shadow: #fc0 1px 0 30px;
  // color: coral;
  background-image: url("../../../assets/bg/bg.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
