<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="info"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-right">การใช้ยา Loperamide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยา loperamide
  มีฤทธิ์ในการยับยั้งการบีบตัวและเคลื่อนไหวของทางเดินอาหารโดยเฉพาะลำไส้ใหญ่เป็นหลัก
  ทำให้ลดปริมาณและความถี่ในการถ่ายอุจจาระ
  <br />
  <br />
  <U>ผู้ป่วยที่ต้องระวังในการใช้ยา</U>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - ผู้ป่วยสูงอายุมากกว่า 65 ปี
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -
  ผู้ป่วยที่มีโรคร่วมที่มีผลกระทบต่อระบบหัวใจและหลอดเลือด
  <br />
  <br />
  <U>ผู้ป่วยที่ห้ามใช้ยา</U>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - เด็กที่มีอายุน้อยกว่า 2 ปี
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
