<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="info"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-right">วิธีการใช้และวิธีดื่ม ORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->
  <br />
  <U>วิธีผสมสารละลายเกลือแร่ ORS</U>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ผสมผงน้ำเกลือแร่ ORS 1 ซอง
  ในน้ำต้มสุกที่เย็นแล้ว 1 แก้ว (250 cc)
  <br />
  <br />
  <br />
  <ion-img src="assets/icon/ORS.png"></ion-img>
  <br />
  <br />
  <br />
  <U>วิธีดื่มสารละลายเกลือแร่ ORS</U>
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ให้ดื่มทีละน้อยแต่บ่อยครั้ง
  จนกว่าอาการท้องเสียจะทุเลาและดีขึ้น โดยห้ามดื่มรวดเดียวหมด
  เพราะจะทำให้อาการอุจจาระร่วงหนักขึ้นได้
  <br />
  <div class="footer">RDUBU</div>
</ion-content>
